.header {
  display: flex;
  align-items: center;
  background-color: #f785d4;
  justify-content: center;
}

.header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
