table {
  margin-top: 2rem;
  width: 100%;
}

.edit {
  margin-right: 1rem;
}

.edit > i {
  color: #753f65;
}

.delete > i {
  color: #753f65;
}

#button_new {
  margin-top: 10px;
  background-color: #753f65;
  width: 100%;
  color: #fff;
}

#buttonDelete {
  color: #753f65;
}

#button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
