.sidenav {
  background-color: #753f65;
  width: 12.5rem;
}

.item label {
  display: block;
  cursor: pointer;
  padding: 1rem;
  font-size: 20px;
  border-bottom: solid 2px #f785d4;
}

.item label:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.item ul li a {
  width: 100%;
  display: block;
  text-decoration: none;
}

.item input {
  display: none;
}

.item ul {
  width: 1rem;
  list-style: none;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: all 0.1s linear;
}

.item ul li a:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.item input:checked ~ ul {
  height: auto;
  max-height: 100%;
  transform: all;
  width: 100%;
}

.sidenav a {
  color: #ffbeeb;
}

.sidenav i {
  padding-right: 0.625rem;
}

.content {
  padding: 1rem;
  background-color: white;
}
.material-icons {
  color: #f785d4;
}
