<mat-card>
  <mat-card-title>Dados do Médico:</mat-card-title>
  <form [formGroup]="formGroupMedico">
    <div formGroupName="pessoa" class="medico-pessoa">
      <mat-form-field class="form-group">
        <label for="id">Id da pessoa:</label>
        <input
          matInput
          placeholder="Id pessoa (caso já tenha cadastro)"
          formControlName="id"
          id="id"
          name="id"
          [readonly]="!childmessage"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="nome">Nome:</label>
        <input
          matInput
          placeholder="Nome "
          formControlName="nome"
          id="nome"
          name="nome"
        />
      </mat-form-field>
      <div
        class="validation-message"
        *ngIf="formGroupMedico.get('pessoa.nome')?.errors?.['required'] && formGroupMedico.get('pessoa.nome')?.touched"
      >
        Nome é obrigatório!
      </div>

      <mat-form-field class="form-group">
        <label for="dataNascimento">Data de nascimento:</label>
        <input
          matInput
          class="form-control"
          name="dataNascimento"
          id="dataNascimento"
          formControlName="dataNascimento"
        />
      </mat-form-field>
      <div
        class="validation-message"
        *ngIf="formGroupMedico.get('pessoa.dataNascimento')?.errors?.['required'] && formGroupMedico.get('pessoa.dataNascimento')?.touched"
      >
        Data de nascimento é obrigatória!
      </div>

      <div id="sexo" class="row">
        <label class="radio-inline">Sexo:</label>
        <div *ngFor="let item of sexoOption">
          <label class="radio-inline"></label>
          <input
            type="radio"
            [value]="item.value"
            class="form-control"
            name="sexo"
            id="sexo"
            formControlName="sexo"
          />
          {{ item.desc }}
        </div>
      </div>
      <div
        class="validation-message"
        *ngIf="formGroupMedico.get('pessoa.nome')?.errors?.['required']"
      >
        Sexo é obrigatório!
      </div>

      <mat-form-field class="form-group">
        <label for="cpf">Cpf:</label>
        <input
          matInput
          id="cpf"
          placeholder="Cpf"
          formControlName="cpf"
          name="cpf"
        />
      </mat-form-field>
      <div
        class="validation-message"
        *ngIf="formGroupMedico.get('pessoa.cpf')?.errors?.['required'] && formGroupMedico.get('pessoa.cpf')?.touched"
      >
        Cpf é obrigatório!
      </div>

      <mat-form-field class="form-group">
        <label for="peso">Peso</label>
        <input
          matInput
          placeholder="Peso"
          id="peso"
          formControlName="peso"
          name="peso"
        />
      </mat-form-field>
      <div
        class="validation-message"
        *ngIf="formGroupMedico.get('pessoa.peso')?.errors?.['required'] && formGroupMedico.get('pessoa.peso')?.touched"
      >
        Peso é obrigatório!
      </div>

      <mat-form-field class="form-group">
        <label for="altura">Altura:</label>
        <input
          matInput
          placeholder="Altura"
          formControlName="altura"
          name="altura"
        />
      </mat-form-field>
      <div
        class="validation-message"
        *ngIf="formGroupMedico.get('pessoa.altura')?.errors?.['required'] && formGroupMedico.get('pessoa.altura')?.touched"
      >
        Altura é obrigatória!
      </div>
    </div>

    <mat-form-field class="form-group">
      <label for="id">id medico:</label>
      <input
        matInput
        placeholder="id medico"
        formControlName="id"
        name="id"
        [readonly]="!childmessage"
      />
    </mat-form-field>

    <mat-form-field class="form-group">
      <label for="crm">Crm:</label>
      <input matInput placeholder="Crm" formControlName="crm" name="crm" />
    </mat-form-field>
    <div
      class="validation-message"
      *ngIf="formGroupMedico.get('crm')?.errors?.['required'] && formGroupMedico.get('crm')?.touched"
    >
      Crm é obrigatório!
    </div>

    <mat-form-field class="form-group">
      <label for="dataCriacao">Data de Criação:</label>
      <input
        matInput
        class="form-control"
        name="dataCriacao"
        id="dataCriacao"
        formControlName="dataCriacao"
      />
    </mat-form-field>
    <div
      class="validation-message"
      *ngIf="formGroupMedico.get('dataCriacao')?.errors?.['required'] && formGroupMedico.get('dataCriacao')?.touched"
    >
      Data de criação é obrigatória!
    </div>

    <mat-form-field class="form-group">
      <label for="dataExclusao">Data de Exclusão:</label>
      <input
        matInput
        class="form-control"
        name="dataExclusao"
        id="dataExclusao"
        formControlName="dataExclusao"
      />
    </mat-form-field>
  </form>
  <button
    [disabled]="!formGroupMedico.valid"
    mat-raised-button
    (click)="save()"
    id="button-accent"
  >
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()" id="button-sec">Voltar</button>
</mat-card>
