<mat-card>
  <mat-card-title>Atualizar dados da especialidade:</mat-card-title>
  <form>
    <mat-form-field color="primary" class="input-form">
      <input
        matInput
        placeholder="Descrição"
        [(ngModel)]="especialidade.descricao"
        name="Descrição"
      />
    </mat-form-field>
    <mat-form-field class="input-form">
      <input
        matInput
        placeholder="Id da especialidade(apenas para caso de atualização)"
        [(ngModel)]="especialidade.id"
        name="Id"
        disabled
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="click()" id="button-accent">
    Confirmar
  </button>

  <button mat-raised-button (click)="cancel()" id="button-sec">Cancelar</button>
</mat-card>
