<mat-card>
  <mat-card-title>Dados da especialidade:</mat-card-title>
  <form [formGroup]="formGroupEspecialidade">
    <mat-form-field color="primary" class="form-group">
      <input
        matInput
        placeholder="Descrição"
        formControlName="descricao"
        name="Descrição"
        class="form-control"
      />
    </mat-form-field>
    <div
      class="validation-message"
      *ngIf="formGroupEspecialidade.get('descricao')?.errors?.['required'] && formGroupEspecialidade.get('descricao')?.touched"
    >
      Descrição é obrigatória!
    </div>
    <mat-form-field class="form-group">
      <input
        matInput
        placeholder="Id da especialidade(apenas para caso de atualização)"
        formControlName="id"
        name="Id"
        class="form-control"
        [readonly]="!childmessage"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="sweetAlert()" id="button-accent">
    Confirmar
  </button>

  <button mat-raised-button (click)="cancel()" id="button-sec">Voltar</button>
</mat-card>
