<mat-card>
  <mat-card-title>Dados do Agendamento:</mat-card-title>
  <form [formGroup]="formGroupAgendamentos">
    <div class="informacoes-agendamentos">
      <mat-form-field class="form-group">
        <label for="id">id agendamento:</label>
        <input
          matInput
          formControlName="id"
          name="id"
          [readonly]="!childmessage"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="dataAbertura">Data de Abertura:</label>
        <input
          matInput
          type="datetime-local"
          class="form-control"
          name="dataAbertura"
          id="dataAbertura"
          formControlName="dataAbertura"
        />
      </mat-form-field>
      <div
        class="validation-message"
        *ngIf="formGroupAgendamentos.get('dataAbertura')?.errors?.['required'] && formGroupAgendamentos.get('dataAbertura')?.touched"
      >
        Data de abertura é obrigatória!
      </div>

      <mat-form-field class="form-group">
        <label for="dataConsulta">Data da Consulta:</label>
        <input
          matInput
          type="datetime-local"
          class="form-control"
          name="dataConsulta"
          id="dataConsulta"
          formControlName="dataConsulta"
        />
      </mat-form-field>
      <div
        class="validation-message"
        *ngIf="formGroupAgendamentos.get('dataConsulta')?.errors?.['required'] && formGroupAgendamentos.get('dataConsulta')?.touched"
      >
        Data da consulta é obrigatória!
      </div>

      <mat-form-field class="form-group">
        <label for="dataCancelamento">Data de Cancelamento:</label>
        <input
          matInput
          class="form-control"
          type="datetime-local"
          name="dataCancelamento"
          id="dataCancelamento"
          formControlName="dataCancelamento"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="valorConsulta">Valor da consulta:</label>
        <input
          matInput
          class="form-control"
          name="valorConsulta"
          id="valorConsulta"
          formControlName="valorConsulta"
        />
      </mat-form-field>
      <div
        class="validation-message"
        *ngIf="formGroupAgendamentos.get('valorConsulta')?.errors?.['required'] && formGroupAgendamentos.get('valorConsulta')?.touched"
      >
        Valor da consulta é obrigatório!
      </div>
    </div>

    <div formGroupName="cliente" class="cliente">
      <mat-form-field class="form-group">
        <label for="id">Id do cliente:</label>
        <input matInput formControlName="id" id="id" name="id" />
      </mat-form-field>
    </div>
    <div
      class="validation-message"
      *ngIf="formGroupAgendamentos.get('cliente.id')?.errors?.['required'] && formGroupAgendamentos.get('cliente.id')?.touched"
    >
      Id do cliente é obrigatório!
    </div>

    <div formGroupName="medico" class="medico">
      <mat-form-field class="form-group">
        <label for="id">Id do médico:</label>
        <input matInput formControlName="id" id="id" name="id" />
      </mat-form-field>
    </div>
    <div
      class="validation-message"
      *ngIf="formGroupAgendamentos.get('medico.id')?.errors?.['required'] && formGroupAgendamentos.get('medico.id')?.touched"
    >
      Id do médico é obrigatório!
    </div>
  </form>
  <button
    [disabled]="!formGroupAgendamentos.valid"
    mat-raised-button
    (click)="save()"
    id="button-accent"
  >
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()" id="button-sec">Voltar</button>
</mat-card>
