<mat-card>
  <mat-card-title>Dados do Agendamento:</mat-card-title>
  <form [formGroup]="formGroupAgendamentos">
    <div class="informacoes-agendamentos">
      <mat-form-field class="form-group">
        <label for="id">id agendamento:</label>
        <input
          matInput
          formControlName="id"
          name="id"
          [readonly]="!childmessage"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="dataAbertura">Data de Abertura:</label>
        <input
          matInput
          class="form-control"
          name="dataAbertura"
          id="dataAbertura"
          formControlName="dataAbertura"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="dataConsulta">Data da Consulta:</label>
        <input
          matInput
          class="form-control"
          name="dataConsulta"
          id="dataConsulta"
          formControlName="dataConsulta"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="dataCancelamento">Data de Cancelamento:</label>
        <input
          matInput
          class="form-control"
          name="dataCancelamento"
          id="dataCancelamento"
          formControlName="dataCancelamento"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="valorConsulta">Valor da consulta:</label>
        <input
          matInput
          class="form-control"
          name="valorConsulta"
          id="valorConsulta"
          formControlName="valorConsulta"
        />
      </mat-form-field>
    </div>

    <div formGroupName="cliente" class="cliente">
      <mat-form-field class="form-group">
        <label for="id">Id do cliente:</label>
        <input matInput formControlName="id" id="id" name="id" />
      </mat-form-field>
    </div>

    <div formGroupName="medico" class="medico">
      <mat-form-field class="form-group">
        <label for="id">Id do médico:</label>
        <input matInput formControlName="id" id="id" name="id" />
      </mat-form-field>
    </div>
  </form>
  <button mat-raised-button (click)="createAgendamento()" id="button-accent">
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()" id="button-sec">Cancelar</button>
</mat-card>
