<mat-card>
  <mat-card-title>Dados do Médico:</mat-card-title>
  <form [formGroup]="formGroupMedico">
    <div formGroupName="pessoa" class="medico-pessoa">
      <mat-form-field class="form-group">
        <label for="id">Id da pessoa:</label>
        <input
          matInput
          placeholder="Id pessoa (caso já tenha cadastro)"
          formControlName="id"
          id="id"
          name="id"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="nome">Nome:</label>
        <input
          matInput
          placeholder="Nome "
          formControlName="nome"
          id="nome"
          name="nome"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="dataNascimento">Data de nascimento:</label>
        <input
          matInput
          class="form-control"
          name="dataNascimento"
          id="dataNascimento"
          formControlName="dataNascimento"
        />
      </mat-form-field>

      <div id="sexo" class="row">
        <label class="radio-inline">Sexo:</label>
        <div *ngFor="let item of sexoOption">
          <label class="radio-inline"></label>
          <input
            type="radio"
            [value]="item.value"
            class="form-control"
            name="sexo"
            id="sexo"
            formControlName="sexo"
          />
          {{ item.desc }}
        </div>
      </div>

      <mat-form-field class="form-group">
        <label for="cpf">Cpf:</label>
        <input
          matInput
          id="cpf"
          placeholder="Cpf"
          formControlName="cpf"
          name="cpf"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="peso">Peso</label>
        <input
          matInput
          placeholder="Peso"
          id="peso"
          formControlName="peso"
          name="peso"
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <label for="altura">Altura:</label>
        <input
          matInput
          placeholder="Altura"
          formControlName="altura"
          name="altura"
        />
      </mat-form-field>
    </div>

    <mat-form-field class="form-group">
      <label for="id">id medico:</label>
      <input matInput placeholder="id medico" formControlName="id" name="id" />
    </mat-form-field>

    <mat-form-field class="form-group">
      <label for="crm">Crm:</label>
      <input matInput placeholder="Crm" formControlName="crm" name="crm" />
    </mat-form-field>

    <mat-form-field class="form-group">
      <label for="dataCriacao">Data de Criação:</label>
      <input
        matInput
        class="form-control"
        name="dataCriacao"
        id="dataCriacao"
        formControlName="dataCriacao"
      />
    </mat-form-field>

    <mat-form-field class="form-group">
      <label for="dataExclusao">Data de Exclusão:</label>
      <input
        matInput
        class="form-control"
        name="dataExclusao"
        id="dataExclusao"
        formControlName="dataExclusao"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createMedico()" id="button-accent">
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()" id="button-sec">Cancelar</button>
</mat-card>
