<mat-card>
  <mat-card-title>Excluir especialidade:</mat-card-title>
  <form>
    <mat-form-field color="primary" class="input-form">
      <input
        matInput
        placeholder="Descrição"
        [value]="especialidade.descricao"
        name="Descrição"
        disabled
      />
    </mat-form-field>
    <mat-form-field class="input-form">
      <input
        matInput
        placeholder="Id da especialidade"
        [(ngModel)]="especialidade.id"
        name="Id"
        disabled
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteEspecialidade()" color="accent">
    Deletar
  </button>

  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
